<template>
  <div class="app">
    <p>{{ timeRemaining }}</p>
    <button @click.prevent="startSession">Start session</button>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      message: 'Timer'
    }
  },

  computed: {
    ...mapState({
      remaining: ({ timer }) => timer.remaining
    }),

    ...mapGetters({
      timeRemaining: 'timeRemaining'
    })
  },


  methods: {
    ...mapActions({
      startSession: 'startSession'
    })
  },

  mounted() {
    //this.start()
  }
}
</script>

<style lang="scss" scoped>
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3ab795;
}
</style>
